h3 {
  padding: 0 0 0 4%;
}

body {
  background-color: #1C2541;
}

h1, .flex {
  margin: 2% 0 0 2%;
}

.playerContainer {
  display: flex;
  justify-content: space-evenly;
  color: #5bc0be;
}

.flex {
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  justify-content: center;
  color: #61dafb;
}

.boardSquare {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: min(25%);
  margin-inline: auto;
}

.square {
  display: flex;
  border: 3px solid #1db3dd;
  color: white;
  padding: 20%;
  justify-content: center;
}